

/* MY VARIABLES*/
:root{
    --color-header-background: #31343D ;
    --color-light-Blue-Green: #93CDCE;
    --color-blue-dark: #445775;
    --background-content: #EDEDF5;
}

/****************************************************************************/

/* GENERAL HEADER STYLES*/
header{
    width: 100%;
    background-color: var(--color-header-background);
}


/* DIV. CONTAINER FOR H1 AND NAVIGATION BAR. */
.divFlex{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 2px solid var(--color-light-Blue-Green);
}

/* CONTAINER FOR H1*/
#title{
    flex: 0 0 40%;
    display: flex;
    flex-flow: row wrap;
    margin: 5px 0px;
}

/* H1 */
#title h1 {
    flex: 0 0 70%;
    background-color: var(--color-light-Blue-Green);
    font-size: 39px;
    padding: 21px;
    text-indent: 7%;
    color: var(--color-header-background);
    border-radius: 30px 0px 30px 0px;
  }


/* START NAVIGATION MENU STYLES */
#navigationBar{
    flex: 0 0 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
}

#navigationBar ul{
    display: flex;
    flex-flow: row wrap;
    
}

#navigationBar li{
    margin: 0px 10px;
}

/* LINKS FOR NAV MENU*/
#navigationBar a{
    font-size: 22px;
    color: var(--color-light-Blue-Green);
    text-decoration: none;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--color-light-Blue-Green);
}


#navigationBar li a:hover {
    color: white;
    border-bottom: 3px solid white;
}


 /* END NAVIGATION MENU STYLES */

/***************************************************************************/

 /* BANNER STYLES*/

 #banner{
    width: 100%;
    height: 220px;
    background-image: url(images/banner2.jpg);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 75px 0px;
    padding-right: 90px;
 }

 #banner h2{
    flex: 0 0 20%;
    color: var(--color-header-background);
    padding: 20px;;
    background-color: var(--color-light-Blue-Green);
    font-size: 30px;
    text-align: center;
    border-radius: 20px 0px 20px 0px;
 }

 /******************************************************************************/

                        /* START MAIN SECTION STYLES*/

main{
    background-color: var(--background-content);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 40px;
    
}
/* STYLES FOR ALL SECTIONS*/
.sections{
    flex: 0 0 90%;
    margin: 40px 0px ;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/* STYLES FOR ARTICLES*/
.article{
    flex: 0 0 80%;
    padding: 0px 45px;
}

.sectionHeader{
    flex: 0 0 20%;
    padding-right: 18px;
    border-right: 5px solid var(--color-blue-dark);
}

.sectionHeader h3{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-blue-dark);
    text-align: right;
}

/*****************************************************************************/
                                        /* ABOUT ME*/

#description-photo{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#myPhoto{
    border-radius: 100px;
    flex: 0 0 20%;
}
#text{
    margin-top: 25px;
    flex: 0 0 30%;
}

#aboutMe p{
    font-size: 18px;
    color: var(--color-blue-dark);
    letter-spacing: .5px;
    line-height: 30px;
    text-align: center;
}

/*******************************************************************************/

                                     /* MY WORK */
#proyectsContainer{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* FLEX- BASIS FOR PROYECTS. CHANGED FLEX=BASIS FOR #GREENDAY*/
.allProyects{
    flex: 0 0 48%;
    display: flex;
    flex-flow:row wrap;
    margin: 10px;
    border: 6px solid var(--color-light-Blue-Green);
    padding: 60px 0px;
    opacity: .5;
    text-decoration: none;
    transition: all 200ms;
}

/* IMAGES FOR PROYECTS*/
/* CHANGE SIZE FOR THE FIRST PROYECT TO 100% FLEX-BASIS*/
#greenday{
    flex: 0 0 100%;
    background-image: url(../assets/images/greenday.jpg);
    padding: 250px 0px;
    margin-top: 0px;
}

#securePassword{
    background-image: url(../assets/images/scurePassword.jpg);
}

#weatherDashboard{
    background-image: url(../assets/images/weather.jpg);
}


#workScheluder{
    background-image: url(./images/workScheduler.jpg);
}

#codeQuiz{
    background-image: url(./images/codeQuiz.jpg);
}

/* DESCRIPTION FOR PROYECTS*/

.descriptionProyect{
    padding: 20px 10px;
    background-color: var(--color-light-Blue-Green);
    color: var(--color-header-background);
    border-radius: 20px 5px 40px 0px;
}

.descriptionProyect h5{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0px;
}
.descriptionProyect span{
    font-size: 12px;
}

/* TRANSITIONS FOR PROYECTS*/

.allProyects:hover{
    opacity: 1;
    cursor: pointer;
}

/*******************************************************************************/

                                /* MY SKILLS */

#mySkills{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#imagesContainer{
    flex: 0 0 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px 0px;
}

.skillImages{
    flex: 0 0 80%;
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0px;
    align-items: center;
    overflow: hidden;
}

.skillImages img{
    flex: 0 0 12%;
    border-radius: 80px;
    cursor: pointer;
}

.skillImages span{
    flex: 0 0 30%;
    padding-left: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.skillImages p{
    flex: 0 0 50%;
    font-size: 30px;
    display: none;
}

/* ANIMATION FOR SKILLS SCORE*/

@keyframes scoreSlide{
    0%{
        transform: translateX(800px);
    }
    100%{
        transform: translateX(0px);
    }
}

#html5:hover .score,
#css3:hover .score,
#javaScript:hover .score{
display: block;
animation: scoreSlide 300ms linear;
cursor: pointer;
}

#html5:focus .score,
#css3:focus .score,
#javaScript:focus .score{
display: block;
animation: scoreSlide 300ms linear;
}

/******************************************************************************/

                                /* RESUME */
#resume{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#downloadResume{
    flex: 0 0 31.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#downloadResume img{
    flex: 0 0 20%;
    width: 155px;
}

/* INIMATION FOR RESUME IMAGE LINK*/

/* @keyframes resume{
    0%{
        width: 80px ;
    }
    100%{
        width:155px;
    }
}

#downloadResume a:hover img{
    animation: resume 500ms linear;
} */
/******************************************************************************/

                                /* CONTACT ME */

#contact{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#contactLinks{
    flex: 0 0 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#contactLinks a{
    flex: 0 0 20%;
    font-size: 28px;
    margin: 10px;
    text-align: center;
    background-color: var(--color-light-Blue-Green);
    border-radius: 10px 0px 10px 0px;
    color: var(--color-header-background);
    text-decoration: 3px underline var(--color-header-background);
    padding: 5px 0px;
    box-shadow: 4px 4px 2px var(--color-header-background);
    transition: all 280ms;
}

/* TRANSITIONS FOR CONTACT LINKS*/

#contactLinks a:hover{
    color: white;
    background-color: var(--color-header-background);
    text-decoration: 3px underline var(--background-content);
    box-shadow: 4px 4px 2px var(--color-blue-dark);
}

/* END MAIN SECTION STYLES*/

/*********************************************************************************/

/* START FOOTER STYLES*/

footer{
    background-color: var(--color-blue-dark);
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

footer span{
    color: white;
    font-size: 18px;
}

footer a{
    color: #F5440C;
    text-decoration: none;
    transition: all 200ms;
}

/* TRANSITION FOR LINK IN FOOTER*/

footer a:hover{
    color: #93CDCE;
    text-decoration: 2px underline;
}

/* END FOOTER STYLES*/
/*********************************************************************************/